<div class="min-height">
    <div class="back-arrow"><a href="/">←</a></div>
    <div class="imprint-container">
        <h1>Impressum</h1>
        <b>Pascale Sennhauser</b><br>
        ...<br>
        ...<br>
        Schweiz<br><br>
        <b>E-Mail:</b> pascale.sennhauser&#64;hotmail.ch<br><br>
        <b>Quelle Bilder und Design: </b>
        <ul>
            <li><b>Images:</b> pixabay, <a href="https://pixabay.com/">https://pixabay.com/</a></li>
            <li><b>Game-Over image: </b> needpix, <a href="https://www.needpix.com/photo/646639/">https://www.needpix.com/photo/646639/</a></li>
            <li><b>Open-Source-Bibliothek:</b> Angular Material, <a href="https://material.angular.io/">https://material.angular.io/</a></li>
        </ul>
    
        <h1>Datenschutz</h1>
        ...
    </div>
</div>
