.min-height {
  height: 100vh;
  color: white;
  background-color: #404040;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .min-height {
    padding: 10px;
    font-size: 12px;
  }
  .min-height h1 {
    font-size: 16px;
  }
}

.back-arrow {
  height: 60px;
}

.back-arrow a {
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  color: white;
}

.back-arrow a:hover {
  font-size: 36px;
  text-decoration: none !important;
}

@media (max-width: 400px) {
  .imprint-container ul {
    padding-inline-start: 20px;
  }
}

.imprint-container a {
  text-decoration: none;
  color: white;
}

.imprint-container a:hover {
  text-decoration: underline;
}
